In [123]:
import pandas as pd
import numpy as np

In [124]:
pd.set_option("display.max_columns", None)

In [186]:
df = pd.read_csv("../11.Proyecto2_EDA-Ingresos-Publicos-Brasil/datos/datos-unidos.csv", encoding='latin-1', low_memory=False)

In [187]:
df.head(2)

,NOMBRE ÓRGANO SUPERIOR,CÓDIGO ÓRGANO,NOMBRE ÓRGANO,CÓDIGO UNIDAD GESTORA,NOMBRE UNIDAD GESTORA,CATEGORÍA ECONÓMICA,ORIGEN INGRESO,TIPO INGRESO,DETALLE,VALOR PREVISTO ACTUALIZADO,VALOR LANZADO,VALOR REALIZADO,PORCENTAJE REALIZADO,FECHA LANZAMIENTO,AÑO EJERCICIO
0,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Bens, Direitos e Valores Incorporados ao Patr",REC.DIVIDA ATIVA NAO TRIBUTARIA DE OUTRAS REC,0.0,0.0,1297.13,0.0,2013-12-31,2013
1,Advocacia-Geral da União,63000,Advocacia-Geral da União - Unidades com víncul...,110060,COORD. GERAL DE ORC. FIN. E ANAL. CONT. - AGU,Receitas Correntes,Outras Receitas Correntes,"Indenizações, restituições e ressarcimentos",RECUPERACAO DE DESPESAS DE EXERC. ANTERIORES,0.0,0.0,26666621.42,0.0,2013-12-31,2013

In [188]:
df.columns

Index(['NOMBRE ÓRGANO SUPERIOR', 'CÓDIGO ÓRGANO', 'NOMBRE ÓRGANO',
       'CÓDIGO UNIDAD GESTORA', 'NOMBRE UNIDAD GESTORA', 'CATEGORÍA ECONÓMICA',
       'ORIGEN INGRESO', 'TIPO INGRESO', 'DETALLE',
       'VALOR PREVISTO ACTUALIZADO', 'VALOR LANZADO', 'VALOR REALIZADO',
       'PORCENTAJE REALIZADO', 'FECHA LANZAMIENTO', 'AÑO EJERCICIO'],
      dtype='object')

In [189]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1026299 entries, 0 to 1026298
Data columns (total 15 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   NOMBRE ÓRGANO SUPERIOR      1026299 non-null  object
 1   CÓDIGO ÓRGANO               1026299 non-null  int64
 2   NOMBRE ÓRGANO               1026299 non-null  object
 3   CÓDIGO UNIDAD GESTORA       1026299 non-null  int64
 4   NOMBRE UNIDAD GESTORA       1026299 non-null  object
 5   CATEGORÍA ECONÓMICA         1026299 non-null  object
 6   ORIGEN INGRESO              1026299 non-null  object
 7   TIPO INGRESO                1026299 non-null  object
 8   DETALLE                     1026299 non-null  object
 9   VALOR PREVISTO ACTUALIZADO  1026299 non-null  float64
 10  VALOR LANZADO               1026299 non-null  float64
 11  VALOR REALIZADO             1026299 non-null  float64
 12  PORCENTAJE REALIZADO        1026299 non-null  float64
 13  FECHA LANZAMIENTO           1025721 non-null  object
 14  AÑO EJERCICIO               1026299 non-null  int64
dtypes: float64(4), int64(3), object(8)
memory usage: 117.5+ MB

# Nulos

In [195]:
def reporte(df):
    df_report = pd.DataFrame()
    df_report["numero_nulos"] = df.isnull().sum()
    df_report["porcentaje_nulos"]= round((df.isnull().sum()/df.shape[0])*100,2)
    df_report["tipo_variables"] = pd.DataFrame(df.dtypes)
    
    return df_report

In [196]:
reporte(df)

                            numero_nulos  porcentaje_nulos tipo_variables
NOMBRE ÓRGANO SUPERIOR                 0              0.00         object
CÓDIGO ÓRGANO                          0              0.00          int64
NOMBRE ÓRGANO                          0              0.00         object
CÓDIGO UNIDAD GESTORA                  0              0.00          int64
NOMBRE UNIDAD GESTORA                  0              0.00         object
CATEGORÍA ECONÓMICA                    0              0.00         object
ORIGEN INGRESO                         0              0.00         object
TIPO INGRESO                           0              0.00         object
DETALLE                                0              0.00         object
VALOR PREVISTO ACTUALIZADO             0              0.00        float64
VALOR LANZADO                          0              0.00        float64
VALOR REALIZADO                        0              0.00        float64
PORCENTAJE REALIZADO                   0              0.00        float64
FECHA LANZAMIENTO                    578              0.06         object
AÑO EJERCICIO                          0              0.00          int64

# Duplicados

In [197]:
df.duplicated().sum()

np.int64(0)

In [202]:
df['NOMBRE ÓRGANO'].duplicated().sum()

np.int64(1026012)

# EDA

In [204]:
df_descriptivos_object = df.describe(include = "O").T
df_descriptivos_object

,count,unique,top,freq
NOMBRE ÓRGANO SUPERIOR,1026299,25,Ministério da Educação,361891
NOMBRE ÓRGANO,1026299,287,Ministério da Economia - Unidades com vínculo ...,119811
NOMBRE UNIDAD GESTORA,1026299,356,SETORIAL ORCAMENTARIA E FINANCEIRA / ME,108481
CATEGORÍA ECONÓMICA,1026299,5,Receitas Correntes,979596
ORIGEN INGRESO,1026299,15,Outras Receitas Correntes,322907
TIPO INGRESO,1026299,63,Serviços Administrativos e Comerciais Gerais,278157
DETALLE,1026299,1886,SERV.ADMINISTRAT.E COMERCIAIS GERAIS-PRINC.,159039
FECHA LANZAMIENTO,1025721,2157,2014-12-31,4553

In [205]:
np.round(df.describe().T,2)

,count,mean,std,min,25%,50%,75%,max
CÓDIGO ÓRGANO,1026299.0,31435.16,1.038265e+04,2.010100e+04,25201.0,26298.00,36000.00,9.121400e+04
CÓDIGO UNIDAD GESTORA,1026299.0,231293.74,1.441784e+05,1.100050e+05,154003.0,170013.00,250088.00,9.130010e+05
VALOR PREVISTO ACTUALIZADO,1026299.0,27611421.05,3.393367e+09,-2.147737e+08,0.0,0.00,0.00,1.603522e+12
VALOR LANZADO,1026299.0,5242806.11,8.108837e+08,-1.483473e+11,0.0,0.00,0.00,3.571607e+11
VALOR REALIZADO,1026299.0,24980422.31,1.406893e+09,-1.562859e+11,260.9,3022.32,40853.85,7.711177e+11
PORCENTAJE REALIZADO,1026299.0,80.31,7.148111e+04,-1.145520e+05,0.0,0.00,0.00,7.236377e+07
AÑO EJERCICIO,1026299.0,2018.23,1.740000e+00,2.013000e+03,2017.0,2018.00,2020.00,2.021000e+03